*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer{
    width: 100%;
    height: 4rem;
}

.preHeader {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    gap: 1em;
    transition: transform 0.2s ease-in-out;
    background-color: #181818;
  }

a{
    color:white;
}

.header{
    /* transition:ease-in-out 0.2s; */
    width: 100%;
    height: 100%;
    background-color: rgb(195, 195, 195);
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover{
    color:#ac9636a2;
}

.header .logo{
    float:left;
    font-size: 25px;
    padding: 10px 20px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: rgb(255, 254, 254);
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .5s ease-out;

}

.header .menu-icon .nav-icon::after{
    background-color: rgb(255, 253, 253);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .5s ease-out;
    position: absolute;
    top: 5px;
}

.header .menu-icon .nav-icon::before{
    background-color: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .5s ease-out;
    position: absolute;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
 max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
transform: rotate(-45deg);
top:0
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top:0
}

@media (min-width:48em){
    .header li {
    float:left;
}
.header li a{
    padding: 20px 30px;
}
.header .menu{
    clear: none;
    float: right;
    max-height: 0;
}
.header .menu-icon{
    display: none;
}
}

@media (min-width: 48em) {
    .header .menu {
        max-height: none;
        display: block;
    }

    .header .menu-icon {
        display: none;
    }
}









